{% extends 'base.html.twig' %}
{% block title %}Connexion
{% endblock %}
{% block body %}
	<div class="container">
		<h1 class="mt-4">Formulaire de connexion</h1>
		{% for message in app.flashes('success') %}
			<div class="alert alert-success">
				{{ message }}
			</div>
		{% endfor %}
		{% if error %}
			<div class="alert alert-danger">
				{{ error.messageKey|trans(error.messageData, 'security') }}
			</div>
		{% endif %}
		<form action="{{ path('security.login') }}" method="post">
			<div class="form-group">
				<label for="username" class="form-label mt-4">Adresse email</label>
				<input type="email" class="form-control" id="username" name="_username" placeholder="exemple@boom.fr" value="{{ last_username }}">
				<small id="emailHelp" class="form-text text-muted">Nous ne partagerons jamais votre e-mail avec quelqu'un d'autre.</small>
			</div>
			<div class="form-group">
				<label for="password" class="form-label mt-4">Mot de passe</label>
				<input type="password" class="form-control" id="password" name="_password" placeholder="********">
			</div>

			<button type="submit" class="btn btn-primary mt-4 px-4 me-4">Se connecter</button>
				<a href="{{ path('forgotten_password') }}" class="btn btn-secondary mt-4">Mot de passe oublié ?</a>
		</form>
		<p class="mt-4">Pas de compte? <button type="submit" class="btn btn-primary mt-4 mb-4">
			<a class="nav-link" href="/inscription">>>  Inscrivez-vous</a>
		</button></p>
		
	</div>
{% endblock %}
