{# {% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<div class="container">

    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            Vous êtes connecté comme {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Me déconnecter</a>
        </div>
    {% endif %}
<form action="{{ path('security.login') }}" method="post">
    <h1 class="h3 mb-3 font-weight-normal">Connexion</h1>
    <label for="inputEmail">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control mt-2 mb-4" autocomplete="email" required autofocus>
    <label for="inputPassword">Mot de passe</label>
    <input type="password" name="password" id="inputPassword" class="form-control mt-2 mb-4" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

 
    <button class="btn btn-lg btn-primary mb-4" type="submit">
        Se connecter
    </button>
    <div>
      <a href="{{ path('app_register') }}">M'inscrire<a>
      </div>
</form>
</div>
{% endblock %} #}


{% extends 'base.html.twig' %}
{% block title %}Connexion
{% endblock %}
 {% block body %}
	<div class="container">
		<h1 class="mt-4">Formulaire de connexion</h1>
		{% for message in app.flashes('success') %}
			<div class="alert alert-success">
				{{ message }}
			</div>
		{%endfor %}
		{% if error %}
			<div class="alert alert-danger">
				{{ error.messageKey|trans(error.messageData, 'security') }}
			</div>
		{% endif %}
		<form action="{{ path('security.login') }}" method="post">
			<div class="form-group">
				<label for="username" class="form-label mt-4">Adresse email</label>
				<input type="email" class="form-control" id="username" name="_username" placeholder="exemple@boom.fr" value="{{ last_username }}">
				<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
			</div>
			<div class="form-group">
				<label for="password" class="form-label mt-4">Mot de passe</label>
				<input type="password" class="form-control" id="password" name="_password" placeholder="********">
			</div>
			<div>
			<a href="{{ path('forgotten_password') }}" class="btn btn-secondary mt-3">Mot de passe oublié</a>
			</div>
			<button type="submit" class="btn btn-primary mt-4">Se connecter</button>
		</form>
		<p class="mt-4">Pas de compte? Inscrivez-vous</p>
		<button type="submit" class="btn btn-primary mt-4">
			<a class="nav-link" href="/inscription">Inscription</a>
		</button>
	</div>
{% endblock %}
