<div class="mt-4">
	<div class="apply">
		{% if app.user %}
			{% if is_granted('ROLE_CANDIDATE') %}
				<div class="apply__new">
					<div class="w-full-width">
						{{ form_start(formApply) }}

						{{ form_widget(formApply.content)  }}
						<button class="btn bg-primary text-light mb-4 fs-3 px-5" type="submit" id="button-addon2">
							Postuler
						</button>
							<div style="position: absolute; top: 15%; min-width: 80%; z-index: 2; color: red;" class="apply_error mt-sm-4">{{ form_errors(formApply) }}</div>

						{{ form_end(formApply) }}

					</div>
				</div>
			{% endif %}
		{% endif %}
	</div>
</div>

{% if app.user and is_granted('ROLE_RECRUITER') %}
	<h2 class="text-2xl mb-8 text-dark">Candidat(s)</h2>
	<ol>
		{% for apply in job.applies %}
			{% if apply.isApproved is same as true %}

				<li class="cand_info">
					{{ apply.candidate.firstname}}
					{{ apply.candidate.lastname}}
					-
					{{ apply.candidate.email }}
					-
					{% include "partials/_cv_show.html.twig" %}
				</li>

				<hr class="mx-4">
			{% endif %}
		{% endfor %}
	</ol>
{% endif %}

