{% extends 'base.html.twig' %}
{% block title %}
	Offres d'emploi
{% endblock %}
{% block body %}
	<div class="container mt-4">
		<h1 class="text-center text-dark mb-4" style="border-radius: 15px; padding: 10px; width: auto;">Offres d'emploi pour {{ app.user.firstname }} {{ app.user.lastname }}</h1>
		<div class="d-flex justify-content-center flex-wrap">
			{% if app.user.jobs and app.user.isVerified is same as true %}
				{% for job in app.user.jobs %}
					
					<div class="card border-primary mb-3 me-3" style="width: 20rem;">
						<div class="card-header">Offre numéro
							{{ job.id }}
						</div>
						<div class="card-body">
							<h4 class="card-title">
								<a href="{{ path('job.show', {id: job.id}) }}">{{ job.title }}</a>
							</h4>
							<p class="card-text">{{ job.description|slice(0, 100) ~ '...'  }}</p>
							<h5 class="mt-3 ms-2 text-dark">Créé le:
								{{ job.createdAt ? job.createdAt|date('Y-m-d') : '' }}</h5>
						</div>
					</div>
				{% endfor %}
			{% endif %}


		</div>
	</div>
{% endblock %}
